---
openapi: 3.1.0
info:
  title: "/mighty_wolf API"
  version: 1.0.0
paths:
  vehicles/:
    get:
      operationId: vehiclesIndex
      parameters:
      - in: query
        name: filter
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/vehicleFilter"
          - type: array
            items:
              "$ref": "#/components/schemas/vehicleFilter"
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/vehiclePage"
      - in: query
        name: sort
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/vehicleSort"
          - type: array
            items:
              "$ref": "#/components/schemas/vehicleSort"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/vehicleIndexSuccessResponseBody"
    post:
      operationId: vehiclesCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vehicle:
                  "$ref": "#/components/schemas/vehicleCreatePayload"
              type: object
              required:
              - vehicle
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/vehicleCreateSuccessResponseBody"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
  vehicles/{id}:
    get:
      operationId: vehiclesShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/vehicleShowSuccessResponseBody"
    patch:
      operationId: vehiclesUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vehicle:
                  "$ref": "#/components/schemas/vehicleUpdatePayload"
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/vehicleUpdateSuccessResponseBody"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
    delete:
      operationId: vehiclesDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    car:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        doors:
          type:
          - integer
          - 'null'
        id:
          type: string
        model:
          type: string
        type:
          type: string
          const: car
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - color
      - doors
      - id
      - model
      - type
      - year
    carCreatePayload:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        doors:
          type:
          - integer
          - 'null'
        model:
          type: string
        type:
          type: string
          const: car
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - model
      - type
    carUpdatePayload:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        doors:
          type:
          - integer
          - 'null'
        model:
          type: string
        type:
          type: string
          const: car
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - model
      - type
    errorResponseBody:
      type: object
      properties:
        issues:
          type: array
          items:
            "$ref": "#/components/schemas/issue"
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      required:
      - issues
      - layer
    integerFilter:
      type: object
      properties:
        between:
          "$ref": "#/components/schemas/integerFilterBetween"
        eq:
          type: integer
        gt:
          type: integer
        gte:
          type: integer
        in:
          type: array
          items:
            type: integer
        lt:
          type: integer
        lte:
          type: integer
    integerFilterBetween:
      type: object
      properties:
        from:
          type: integer
        to:
          type: integer
    issue:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    motorcycle:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        engineCc:
          type:
          - integer
          - 'null'
        id:
          type: string
        model:
          type: string
        type:
          type: string
          const: motorcycle
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - color
      - engineCc
      - id
      - model
      - type
      - year
    motorcycleCreatePayload:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        engineCc:
          type:
          - integer
          - 'null'
        model:
          type: string
        type:
          type: string
          const: motorcycle
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - model
      - type
    motorcycleUpdatePayload:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        engineCc:
          type:
          - integer
          - 'null'
        model:
          type: string
        type:
          type: string
          const: motorcycle
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - model
      - type
    nullableIntegerFilter:
      type: object
      properties:
        between:
          "$ref": "#/components/schemas/integerFilterBetween"
        eq:
          type: integer
        gt:
          type: integer
        gte:
          type: integer
        in:
          type: array
          items:
            type: integer
        lt:
          type: integer
        lte:
          type: integer
        'null':
          type: boolean
    offsetPagination:
      type: object
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      required:
      - current
      - items
      - total
    stringFilter:
      type: object
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          type: array
          items:
            type: string
        startsWith:
          type: string
    truck:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        id:
          type: string
        model:
          type: string
        payloadCapacity:
          type:
          - number
          - 'null'
        type:
          type: string
          const: truck
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - color
      - id
      - model
      - payloadCapacity
      - type
      - year
    truckCreatePayload:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        model:
          type: string
        payloadCapacity:
          type:
          - number
          - 'null'
        type:
          type: string
          const: truck
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - model
      - type
    truckUpdatePayload:
      type: object
      properties:
        brand:
          type: string
        color:
          type:
          - string
          - 'null'
        model:
          type: string
        payloadCapacity:
          type:
          - number
          - 'null'
        type:
          type: string
          const: truck
        year:
          type:
          - integer
          - 'null'
      required:
      - brand
      - model
      - type
    vehicle:
      oneOf:
      - "$ref": "#/components/schemas/car"
      - "$ref": "#/components/schemas/motorcycle"
      - "$ref": "#/components/schemas/truck"
      discriminator:
        propertyName: type
        mapping:
          car: "#/components/schemas/car"
          motorcycle: "#/components/schemas/motorcycle"
          truck: "#/components/schemas/truck"
    vehicleCreatePayload:
      oneOf:
      - "$ref": "#/components/schemas/carCreatePayload"
      - "$ref": "#/components/schemas/motorcycleCreatePayload"
      - "$ref": "#/components/schemas/truckCreatePayload"
      discriminator:
        propertyName: type
        mapping:
          car: "#/components/schemas/carCreatePayload"
          motorcycle: "#/components/schemas/motorcycleCreatePayload"
          truck: "#/components/schemas/truckCreatePayload"
    vehicleCreateSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        vehicle:
          "$ref": "#/components/schemas/vehicle"
      required:
      - vehicle
    vehicleFilter:
      type: object
      properties:
        _and:
          type: array
          items:
            "$ref": "#/components/schemas/vehicleFilter"
        _not:
          "$ref": "#/components/schemas/vehicleFilter"
        _or:
          type: array
          items:
            "$ref": "#/components/schemas/vehicleFilter"
        brand:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/stringFilter"
        model:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/stringFilter"
        year:
          oneOf:
          - type: integer
          - "$ref": "#/components/schemas/nullableIntegerFilter"
    vehicleIndexSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        pagination:
          "$ref": "#/components/schemas/offsetPagination"
        vehicles:
          type: array
          items:
            "$ref": "#/components/schemas/vehicle"
      required:
      - pagination
      - vehicles
    vehiclePage:
      type: object
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
    vehicleShowSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        vehicle:
          "$ref": "#/components/schemas/vehicle"
      required:
      - vehicle
    vehicleSort:
      type: object
      properties:
        year:
          enum:
          - asc
          - desc
          type: string
    vehicleUpdatePayload:
      oneOf:
      - "$ref": "#/components/schemas/carUpdatePayload"
      - "$ref": "#/components/schemas/motorcycleUpdatePayload"
      - "$ref": "#/components/schemas/truckUpdatePayload"
      discriminator:
        propertyName: type
        mapping:
          car: "#/components/schemas/carUpdatePayload"
          motorcycle: "#/components/schemas/motorcycleUpdatePayload"
          truck: "#/components/schemas/truckUpdatePayload"
    vehicleUpdateSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        vehicle:
          "$ref": "#/components/schemas/vehicle"
      required:
      - vehicle
