---
openapi: 3.1.0
info:
  title: "/swift_fox"
  version: 1.0.0
paths:
  "/contacts":
    get:
      operationId: contacts_index
      parameters:
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/contact_page"
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/contact_index_success_response_body"
          description: Successful response
    post:
      operationId: contacts_create
      requestBody:
        content:
          application/json:
            schema:
              properties:
                contact:
                  "$ref": "#/components/schemas/contact_create_payload"
              type: object
              required:
              - contact
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/contact_create_success_response_body"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response_body"
  "/contacts/{id}":
    get:
      operationId: contacts_show
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/contact_show_success_response_body"
          description: Successful response
    patch:
      operationId: contacts_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                contact:
                  "$ref": "#/components/schemas/contact_update_payload"
              type: object
              required:
              - contact
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/contact_update_success_response_body"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response_body"
    delete:
      operationId: contacts_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    contact:
      properties:
        email:
          type:
          - string
          - 'null'
        id:
          type: string
        name:
          type: string
        notes:
          type: string
        phone:
          type: string
      type: object
      required:
      - email
      - id
      - name
      - notes
      - phone
    contact_create_payload:
      properties:
        email:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type: string
        phone:
          type: string
      type: object
      required:
      - name
    contact_create_success_response_body:
      properties:
        contact:
          "$ref": "#/components/schemas/contact"
        meta:
          properties: {}
          type: object
      type: object
      required:
      - contact
    contact_index_success_response_body:
      properties:
        contacts:
          items:
            "$ref": "#/components/schemas/contact"
          type: array
        meta:
          properties: {}
          type: object
        pagination:
          "$ref": "#/components/schemas/offset_pagination"
      type: object
      required:
      - contacts
      - pagination
    contact_page:
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
      type: object
    contact_show_success_response_body:
      properties:
        contact:
          "$ref": "#/components/schemas/contact"
        meta:
          properties: {}
          type: object
      type: object
      required:
      - contact
    contact_update_payload:
      properties:
        email:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type: string
        phone:
          type: string
      type: object
    contact_update_success_response_body:
      properties:
        contact:
          "$ref": "#/components/schemas/contact"
        meta:
          properties: {}
          type: object
      type: object
      required:
      - contact
    error_response_body:
      properties:
        issues:
          items:
            "$ref": "#/components/schemas/issue"
          type: array
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      type: object
      required:
      - issues
      - layer
    issue:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          properties: {}
          type: object
        path:
          items:
            type: string
          type: array
        pointer:
          type: string
      type: object
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    offset_pagination:
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      type: object
      required:
      - current
      - items
      - total
