---
openapi: 3.1.0
info:
  title: "/swift_fox API"
  version: 1.0.0
paths:
  contacts/:
    get:
      operationId: contactsIndex
      parameters:
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/contactPage"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      "$ref": "#/components/schemas/contact"
                  meta:
                    type: object
                    properties: {}
                  pagination:
                    "$ref": "#/components/schemas/offsetPagination"
    post:
      operationId: contactsCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact:
                  "$ref": "#/components/schemas/contactCreatePayload"
              required:
              - contact
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/contact"
                  meta:
                    type: object
                    properties: {}
                required:
                - contact
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      "$ref": "#/components/schemas/error"
  contacts/{id}:
    get:
      operationId: contactsShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/contact"
                  meta:
                    type: object
                    properties: {}
                required:
                - contact
    patch:
      operationId: contactsUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contact:
                  "$ref": "#/components/schemas/contactUpdatePayload"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    "$ref": "#/components/schemas/contact"
                  meta:
                    type: object
                    properties: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      "$ref": "#/components/schemas/error"
    delete:
      operationId: contactsDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    contact:
      type: object
      properties:
        email:
          type:
          - string
          - 'null'
        id:
          type: string
        name:
          type: string
        notes:
          type: string
        phone:
          type: string
      required:
      - email
      - id
      - name
      - notes
      - phone
    contactCreatePayload:
      type: object
      properties:
        email:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type: string
        phone:
          type: string
      required:
      - name
    contactPage:
      type: object
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
    contactUpdatePayload:
      type: object
      properties:
        email:
          type:
          - string
          - 'null'
        name:
          type: string
        notes:
          type: string
        phone:
          type: string
      required:
      - name
    error:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        layer:
          type: string
          enum:
          - http
          - contract
          - domain
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - layer
      - meta
      - path
      - pointer
    offsetPagination:
      type: object
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      required:
      - current
      - items
      - total
