---
openapi: 3.1.0
info:
  title: "/grumpy_panda API"
  version: 1.0.0
paths:
  activities/:
    get:
      operationId: activitiesIndex
      parameters:
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/activityPage"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      "$ref": "#/components/schemas/activity"
                  meta:
                    type: object
                    properties: {}
                  pagination:
                    "$ref": "#/components/schemas/cursorPagination"
    post:
      operationId: activitiesCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activity:
                  "$ref": "#/components/schemas/activityCreatePayload"
              required:
              - activity
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity:
                    "$ref": "#/components/schemas/activity"
                  meta:
                    type: object
                    properties: {}
                required:
                - activity
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      "$ref": "#/components/schemas/error"
  activities/{id}:
    get:
      operationId: activitiesShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity:
                    "$ref": "#/components/schemas/activity"
                  meta:
                    type: object
                    properties: {}
                required:
                - activity
    patch:
      operationId: activitiesUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                activity:
                  "$ref": "#/components/schemas/activityUpdatePayload"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  activity:
                    "$ref": "#/components/schemas/activity"
                  meta:
                    type: object
                    properties: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      "$ref": "#/components/schemas/error"
    delete:
      operationId: activitiesDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    activity:
      type: object
      properties:
        action:
          type: string
        createdAt:
          type: string
          format: date-time
        id:
          type: string
        occurredAt:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - action
      - createdAt
      - id
      - occurredAt
    activityCreatePayload:
      type: object
      properties:
        action:
          type: string
        occurredAt:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - action
    activityPage:
      type: object
      properties:
        after:
          type: string
        before:
          type: string
        size:
          type: integer
          minimum: 1
          maximum: 100
    activityUpdatePayload:
      type: object
      properties:
        action:
          type: string
        occurredAt:
          type:
          - string
          - 'null'
          format: date-time
      required:
      - action
    cursorPagination:
      type: object
      properties:
        next:
          type:
          - string
          - 'null'
        prev:
          type:
          - string
          - 'null'
    error:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    errorResponse:
      type: object
      properties:
        issues:
          type: array
          items:
            "$ref": "#/components/schemas/error"
        layer:
          type: string
          enum:
          - http
          - contract
          - domain
      required:
      - issues
      - layer
