---
openapi: 3.1.0
info:
  title: "/funny_snake API"
  version: 1.0.0
paths:
  invoices/:
    get:
      operationId: invoicesIndex
      responses:
        '204':
          description: No content
    post:
      operationId: invoicesCreate
      responses:
        '204':
          description: No content
  invoices/{id}:
    get:
      operationId: invoicesShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
    patch:
      operationId: invoicesUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
    delete:
      operationId: invoicesDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    errorResponseBody:
      type: object
      properties:
        issues:
          type: array
          items:
            "$ref": "#/components/schemas/issue"
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      required:
      - issues
      - layer
    invoice:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        issuedOn:
          type: string
          format: date
        notes:
          type: string
        number:
          type: string
        status:
          type: string
        updatedAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - issuedOn
      - notes
      - number
      - status
      - updatedAt
    invoicePayload:
      type: object
      properties:
        issuedOn:
          type: string
          format: date
        notes:
          type: string
        number:
          type: string
        status:
          type: string
      required:
      - issuedOn
      - notes
      - number
      - status
    issue:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - meta
      - path
      - pointer
