---
openapi: 3.1.0
info:
  title: "/funny_snake API"
  version: 1.0.0
paths:
  invoices/:
    get:
      operationId: invoicesIndex
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      "$ref": "#/components/schemas/invoice"
                required:
                - invoices
    post:
      operationId: invoicesCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  "$ref": "#/components/schemas/invoicePayload"
              required:
              - invoice
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                required:
                - invoice
  invoices/{id}:
    get:
      operationId: invoicesShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                required:
                - invoice
    patch:
      operationId: invoicesUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  "$ref": "#/components/schemas/invoicePayload"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                required:
                - invoice
    delete:
      operationId: invoicesDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    error:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        field:
          type: string
        path:
          type: array
          items:
            type: string
      required:
      - code
      - detail
      - field
      - path
    invoice:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        id:
          type: string
          format: uuid
        issuedOn:
          type: string
          format: date
        notes:
          type: string
        number:
          type: string
        status:
          type: string
        updatedAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - issuedOn
      - notes
      - number
      - status
      - updatedAt
    invoicePayload:
      type: object
      properties:
        issuedOn:
          type: string
          format: date
        notes:
          type: string
        number:
          type: string
        status:
          type: string
      required:
      - issuedOn
      - notes
      - number
      - status
