---
openapi: 3.1.0
info:
  title: "/sharp_hawk"
  version: 1.0.0
paths:
  "/accounts":
    get:
      operationId: accountsIndex
      parameters:
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/accountPage"
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountIndexSuccessResponseBody"
          description: Successful response
    post:
      operationId: accountsCreate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                account:
                  "$ref": "#/components/schemas/accountCreatePayload"
              type: object
              required:
              - account
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountCreateSuccessResponseBody"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
  "/accounts/{id}":
    get:
      operationId: accountsShow
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountShowSuccessResponseBody"
          description: Successful response
    patch:
      operationId: accountsUpdate
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                account:
                  "$ref": "#/components/schemas/accountUpdatePayload"
              type: object
              required:
              - account
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/accountUpdateSuccessResponseBody"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
    delete:
      operationId: accountsDestroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    account:
      properties:
        createdAt:
          type: string
          format: date-time
        email:
          type: string
        id:
          type: string
        name:
          type: string
        role:
          type: string
        updatedAt:
          type: string
          format: date-time
        verified:
          type: boolean
      type: object
      required:
      - createdAt
      - email
      - id
      - name
      - role
      - updatedAt
      - verified
    accountCreatePayload:
      properties:
        email:
          type: string
        name:
          type: string
      type: object
      required:
      - email
      - name
    accountCreateSuccessResponseBody:
      properties:
        account:
          "$ref": "#/components/schemas/account"
        meta:
          properties: {}
          type: object
      type: object
      required:
      - account
    accountIndexSuccessResponseBody:
      properties:
        pagination:
          "$ref": "#/components/schemas/offsetPagination"
        accounts:
          items:
            "$ref": "#/components/schemas/account"
          type: array
        meta:
          properties: {}
          type: object
      type: object
      required:
      - pagination
      - accounts
    accountPage:
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
      type: object
    accountShowSuccessResponseBody:
      properties:
        account:
          "$ref": "#/components/schemas/account"
        meta:
          properties: {}
          type: object
      type: object
      required:
      - account
    accountUpdatePayload:
      properties:
        name:
          type: string
        role:
          type: string
        verified:
          type: boolean
      type: object
    accountUpdateSuccessResponseBody:
      properties:
        account:
          "$ref": "#/components/schemas/account"
        meta:
          properties: {}
          type: object
      type: object
      required:
      - account
    error:
      properties:
        issues:
          items:
            "$ref": "#/components/schemas/issue"
          type: array
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      type: object
      required:
      - issues
      - layer
    errorResponseBody:
      "$ref": "#/components/schemas/error"
    issue:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          properties: {}
          type: object
        path:
          items:
            type: string
          type: array
        pointer:
          type: string
      type: object
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    offsetPagination:
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      type: object
      required:
      - current
      - items
      - total
