---
components:
  schemas:
    errorResponseBody:
      properties:
        issues:
          items:
            "$ref": "#/components/schemas/issue"
          type: array
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      type: object
      required:
      - issues
      - layer
    issue:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          properties: {}
          type: object
        path:
          items:
            type: string
          type: array
        pointer:
          type: string
      type: object
      required:
      - code
      - detail
      - meta
      - path
      - pointer
info:
  title: "/eager_lion API"
  version: 1.0.0
openapi: 3.1.0
paths:
  invoices/:
    get:
      operationId: invoicesIndex
      responses:
        '204':
          description: No content
    post:
      operationId: invoicesCreate
      responses:
        '204':
          description: No content
  invoices/{id}:
    get:
      operationId: invoicesShow
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
    patch:
      operationId: invoicesUpdate
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
    delete:
      operationId: invoicesDestroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
  invoices/{id}/archive:
    patch:
      operationId: invoicesArchive
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
