---
openapi: 3.1.0
info:
  title: "/eager_lion API"
  version: 1.0.0
paths:
  invoices/:
    get:
      operationId: invoicesIndex
      parameters:
      - in: query
        name: filter
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/invoiceFilter"
          - type: array
            items:
              "$ref": "#/components/schemas/invoiceFilter"
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/invoicePage"
      - in: query
        name: sort
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/invoiceSort"
          - type: array
            items:
              "$ref": "#/components/schemas/invoiceSort"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      "$ref": "#/components/schemas/invoice"
                  meta:
                    type: object
                    properties: {}
                  pagination:
                    "$ref": "#/components/schemas/offsetPagination"
    post:
      operationId: invoicesCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  "$ref": "#/components/schemas/invoiceCreatePayload"
              required:
              - invoice
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                  meta:
                    type: object
                    properties: {}
                required:
                - invoice
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
  invoices/{id}:
    get:
      operationId: invoicesShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                  meta:
                    type: object
                    properties: {}
                required:
                - invoice
    patch:
      operationId: invoicesUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice:
                  "$ref": "#/components/schemas/invoiceUpdatePayload"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                  meta:
                    type: object
                    properties: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
    delete:
      operationId: invoicesDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
  invoices/{id}/archive:
    patch:
      operationId: invoicesArchive
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoice:
                    "$ref": "#/components/schemas/invoice"
                  meta:
                    type: object
                    properties: {}
                required:
                - invoice
components:
  schemas:
    errorResponseBody:
      type: object
      properties:
        issues:
          type: array
          items:
            "$ref": "#/components/schemas/issue"
        layer:
          type: string
          enum:
          - http
          - contract
          - domain
      required:
      - issues
      - layer
    invoice:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        customer:
          type: object
          properties: {}
        customerId:
          type: string
        id:
          type: string
        issuedOn:
          type:
          - string
          - 'null'
          format: date
        lines:
          type: array
          items:
            type: string
        notes:
          type:
          - string
          - 'null'
        number:
          type: string
        status:
          type:
          - string
          - 'null'
        updatedAt:
          type: string
          format: date-time
      required:
      - createdAt
      - customer
      - customerId
      - id
      - issuedOn
      - lines
      - notes
      - number
      - status
      - updatedAt
    invoiceCreatePayload:
      type: object
      properties:
        customerId:
          type: string
        issuedOn:
          type:
          - string
          - 'null'
          format: date
        lines:
          type: array
          items:
            type: string
        notes:
          type:
          - string
          - 'null'
        number:
          type: string
      required:
      - customerId
      - number
    invoiceFilter:
      type: object
      properties:
        _and:
          type: array
          items:
            "$ref": "#/components/schemas/invoiceFilter"
        _not:
          "$ref": "#/components/schemas/invoiceFilter"
        _or:
          type: array
          items:
            "$ref": "#/components/schemas/invoiceFilter"
        number:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/stringFilter"
        status:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/nullableStringFilter"
    invoicePage:
      type: object
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
    invoiceSort:
      type: object
      properties:
        createdAt:
          type: string
          enum:
          - asc
          - desc
        issuedOn:
          type: string
          enum:
          - asc
          - desc
        status:
          type: string
          enum:
          - asc
          - desc
        updatedAt:
          type: string
          enum:
          - asc
          - desc
    invoiceUpdatePayload:
      type: object
      properties:
        customerId:
          type: string
        issuedOn:
          type:
          - string
          - 'null'
          format: date
        lines:
          type: array
          items:
            type: string
        notes:
          type:
          - string
          - 'null'
        number:
          type: string
      required:
      - customerId
      - number
    issue:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    nullableStringFilter:
      type: object
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          type: array
          items:
            type: string
        'null':
          type: boolean
        startsWith:
          type: string
    offsetPagination:
      type: object
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      required:
      - current
      - items
      - total
    stringFilter:
      type: object
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          type: array
          items:
            type: string
        startsWith:
          type: string
