---
openapi: 3.1.0
info:
  title: "/steady_horse"
  version: 1.0.0
paths:
  "/products":
    get:
      operationId: productsIndex
      parameters:
      - in: query
        name: filter
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/productFilter"
          - items:
              "$ref": "#/components/schemas/productFilter"
            type: array
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/productPage"
      - in: query
        name: sort
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/productSort"
          - items:
              "$ref": "#/components/schemas/productSort"
            type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/productIndexSuccessResponseBody"
          description: Successful response
    post:
      operationId: productsCreate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                product:
                  "$ref": "#/components/schemas/productCreatePayload"
              type: object
              required:
              - product
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/productCreateSuccessResponseBody"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
  "/products/{id}":
    get:
      operationId: productsShow
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/productShowSuccessResponseBody"
          description: Successful response
    patch:
      operationId: productsUpdate
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                product:
                  "$ref": "#/components/schemas/productUpdatePayload"
              type: object
              required:
              - product
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/productUpdateSuccessResponseBody"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
    delete:
      operationId: productsDestroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    error:
      properties:
        issues:
          items:
            "$ref": "#/components/schemas/issue"
          type: array
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      type: object
      required:
      - issues
      - layer
    errorResponseBody:
      "$ref": "#/components/schemas/error"
    issue:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          properties: {}
          type: object
        path:
          items:
            type: string
          type: array
        pointer:
          type: string
      type: object
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    offsetPagination:
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      type: object
      required:
      - current
      - items
      - total
    product:
      properties:
        category:
          type: string
        createdAt:
          type: string
          format: date-time
        id:
          type: string
        name:
          type: string
        price:
          type: number
        updatedAt:
          type: string
          format: date-time
      type: object
      required:
      - category
      - createdAt
      - id
      - name
      - price
      - updatedAt
    productCreatePayload:
      properties:
        category:
          type: string
        name:
          type: string
        price:
          type: number
      type: object
      required:
      - category
      - name
      - price
    productCreateSuccessResponseBody:
      properties:
        meta:
          properties: {}
          type: object
        product:
          "$ref": "#/components/schemas/product"
      type: object
      required:
      - product
    productFilter:
      properties:
        AND:
          items:
            "$ref": "#/components/schemas/productFilter"
          type: array
        NOT:
          "$ref": "#/components/schemas/productFilter"
        OR:
          items:
            "$ref": "#/components/schemas/productFilter"
          type: array
        category:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/stringFilter"
        name:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/stringFilter"
      type: object
    productIndexSuccessResponseBody:
      properties:
        pagination:
          "$ref": "#/components/schemas/offsetPagination"
        meta:
          properties: {}
          type: object
        products:
          items:
            "$ref": "#/components/schemas/product"
          type: array
      type: object
      required:
      - pagination
      - products
    productPage:
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
      type: object
    productShowSuccessResponseBody:
      properties:
        meta:
          properties: {}
          type: object
        product:
          "$ref": "#/components/schemas/product"
      type: object
      required:
      - product
    productSort:
      properties:
        createdAt:
          enum:
          - asc
          - desc
          type: string
        price:
          enum:
          - asc
          - desc
          type: string
        updatedAt:
          enum:
          - asc
          - desc
          type: string
      type: object
    productUpdatePayload:
      properties:
        category:
          type: string
        name:
          type: string
        price:
          type: number
      type: object
    productUpdateSuccessResponseBody:
      properties:
        meta:
          properties: {}
          type: object
        product:
          "$ref": "#/components/schemas/product"
      type: object
      required:
      - product
    stringFilter:
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          items:
            type: string
          type: array
        startsWith:
          type: string
      type: object
