---
openapi: 3.1.0
info:
  title: "/nimble_gecko"
  version: 1.0.0
paths:
  "/meal-plans":
    get:
      operationId: MealPlansIndex
      parameters:
      - in: query
        name: Page
        required: false
        schema:
          "$ref": "#/components/schemas/MealPlanPage"
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MealPlanIndexSuccessResponseBody"
          description: Successful response
    post:
      operationId: MealPlansCreate
      requestBody:
        content:
          application/json:
            schema:
              properties:
                MealPlan:
                  "$ref": "#/components/schemas/MealPlanCreatePayload"
              type: object
              required:
              - MealPlan
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MealPlanCreateSuccessResponseBody"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponseBody"
  "/meal-plans/{Id}":
    get:
      operationId: MealPlansShow
      parameters:
      - in: path
        name: Id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MealPlanShowSuccessResponseBody"
          description: Successful response
    patch:
      operationId: MealPlansUpdate
      parameters:
      - in: path
        name: Id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                MealPlan:
                  "$ref": "#/components/schemas/MealPlanUpdatePayload"
              type: object
              required:
              - MealPlan
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MealPlanUpdateSuccessResponseBody"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponseBody"
    delete:
      operationId: MealPlansDestroy
      parameters:
      - in: path
        name: Id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    CookingStep:
      properties:
        DurationMinutes:
          type:
          - integer
          - 'null'
        Id:
          type: string
        Instruction:
          type: string
        StepNumber:
          type: integer
      type: object
      required:
      - DurationMinutes
      - Id
      - Instruction
      - StepNumber
    CookingStepNestedCreatePayload:
      properties:
        OP:
          const: create
          type: string
        DurationMinutes:
          type:
          - integer
          - 'null'
        Instruction:
          type: string
        StepNumber:
          type: integer
      type: object
      required:
      - Instruction
      - StepNumber
    CookingStepNestedDeletePayload:
      properties:
        OP:
          const: delete
          type: string
        Id:
          type: string
      type: object
      required:
      - Id
    CookingStepNestedPayload:
      oneOf:
      - "$ref": "#/components/schemas/CookingStepNestedCreatePayload"
      - "$ref": "#/components/schemas/CookingStepNestedUpdatePayload"
      - "$ref": "#/components/schemas/CookingStepNestedDeletePayload"
      discriminator:
        mapping:
          Create: "#/components/schemas/CookingStepNestedCreatePayload"
          Update: "#/components/schemas/CookingStepNestedUpdatePayload"
          Delete: "#/components/schemas/CookingStepNestedDeletePayload"
        propertyName: OP
    CookingStepNestedUpdatePayload:
      properties:
        OP:
          const: update
          type: string
        DurationMinutes:
          type:
          - integer
          - 'null'
        Id:
          type: string
        Instruction:
          type: string
        StepNumber:
          type: integer
      type: object
    Error:
      properties:
        Issues:
          items:
            "$ref": "#/components/schemas/Issue"
          type: array
        Layer:
          enum:
          - http
          - contract
          - domain
          type: string
      type: object
      required:
      - Issues
      - Layer
    ErrorResponseBody:
      "$ref": "#/components/schemas/Error"
    Issue:
      properties:
        Code:
          type: string
        Detail:
          type: string
        Meta:
          properties: {}
          type: object
        Path:
          items:
            type: string
          type: array
        Pointer:
          type: string
      type: object
      required:
      - Code
      - Detail
      - Meta
      - Path
      - Pointer
    MealPlan:
      properties:
        CookTime:
          type:
          - integer
          - 'null'
        CookingSteps:
          items:
            "$ref": "#/components/schemas/CookingStep"
          type: array
        CreatedAt:
          type: string
          format: date-time
        Id:
          type: string
        ServingSize:
          type:
          - integer
          - 'null'
        Title:
          type: string
        UpdatedAt:
          type: string
          format: date-time
      type: object
      required:
      - CookTime
      - CookingSteps
      - CreatedAt
      - Id
      - ServingSize
      - Title
      - UpdatedAt
    MealPlanCreatePayload:
      properties:
        CookTime:
          type:
          - integer
          - 'null'
        CookingSteps:
          items:
            "$ref": "#/components/schemas/CookingStepNestedPayload"
          type: array
        ServingSize:
          type:
          - integer
          - 'null'
        Title:
          type: string
      type: object
      required:
      - Title
    MealPlanCreateSuccessResponseBody:
      properties:
        MealPlan:
          "$ref": "#/components/schemas/MealPlan"
        Meta:
          properties: {}
          type: object
      type: object
      required:
      - MealPlan
    MealPlanIndexSuccessResponseBody:
      properties:
        Pagination:
          "$ref": "#/components/schemas/OffsetPagination"
        MealPlans:
          items:
            "$ref": "#/components/schemas/MealPlan"
          type: array
        Meta:
          properties: {}
          type: object
      type: object
      required:
      - Pagination
      - MealPlans
    MealPlanPage:
      properties:
        Number:
          type: integer
          minimum: 1
        Size:
          type: integer
          minimum: 1
          maximum: 100
      type: object
    MealPlanShowSuccessResponseBody:
      properties:
        MealPlan:
          "$ref": "#/components/schemas/MealPlan"
        Meta:
          properties: {}
          type: object
      type: object
      required:
      - MealPlan
    MealPlanUpdatePayload:
      properties:
        CookTime:
          type:
          - integer
          - 'null'
        CookingSteps:
          items:
            "$ref": "#/components/schemas/CookingStepNestedPayload"
          type: array
        ServingSize:
          type:
          - integer
          - 'null'
        Title:
          type: string
      type: object
    MealPlanUpdateSuccessResponseBody:
      properties:
        MealPlan:
          "$ref": "#/components/schemas/MealPlan"
        Meta:
          properties: {}
          type: object
      type: object
      required:
      - MealPlan
    OffsetPagination:
      properties:
        Current:
          type: integer
        Items:
          type: integer
        Next:
          type:
          - integer
          - 'null'
        Prev:
          type:
          - integer
          - 'null'
        Total:
          type: integer
      type: object
      required:
      - Current
      - Items
      - Total
