---
:openapi: 3.1.0
:info:
  :title: "/happy-zebra API"
  :version: 1.0.0
:paths: {}
:components:
  :schemas:
    cursor_pagination:
      :type: object
      :properties:
        next_cursor:
          :type:
          - string
          - 'null'
        prev_cursor:
          :type:
          - string
          - 'null'
    issue:
      :type: object
      :properties:
        code:
          :type: string
        detail:
          :type: string
        field:
          :type: string
        path:
          :type: array
          :items:
            :type: string
      :required:
      - code
      - detail
      - field
      - path
    page_pagination:
      :type: object
      :properties:
        current:
          :type: integer
        items:
          :type: integer
        next:
          :type:
          - integer
          - 'null'
        prev:
          :type:
          - integer
          - 'null'
        total:
          :type: integer
      :required:
      - current
      - items
      - total
    status_filter:
      :oneOf:
      - {}
      - :type: object
        :properties:
          eq: {}
          in:
            :type: array
            :items:
              :type:
