:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #ff5c5c, #ff3e3e, #c41414);
  --vp-home-hero-image-background-image: radial-gradient(circle, #ff3e3e33 0%, transparent 70%);
  --vp-home-hero-image-filter: blur(44px);
  --vp-c-brand-1: #990f0f;
  --vp-c-brand-2: #c41414;
  --vp-c-brand-3: #da1616;
  --vp-c-brand-soft: #da161624;
}

.dark {
  --vp-c-brand-1: #ff5c5c;
  --vp-c-brand-2: #ff3e3e;
  --vp-c-brand-3: #c41414;
  --vp-c-brand-soft: #ff3e3e29;
}
