---
:openapi: 3.1.0
:info:
  :title: "/funny-snake API"
  :version: 1.0.0
:paths:
  invoices/:
    get:
      :operationId: invoices_index
      :tags:
      - Invoices
      :parameters:
      - :in: query
        :name: filter
        :required: true
        :schema:
          :type: object
          :properties:
            status:
              :type: string
          :required:
          - status
      - :in: query
        :name: sort
        :required: true
        :schema:
          :type: object
          :properties:
            issued_on:
              :type: string
              :enum:
              - asc
              - desc
          :required:
          - issued_on
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  invoices:
                    :type: array
                    :items:
                      :$ref: "#/components/schemas/invoice"
                :required:
                - invoices
    post:
      :operationId: invoices_create
      :tags:
      - Invoices
      :requestBody:
        :required: true
        :content:
          :application/json:
            :schema:
              :type: object
              :properties:
                invoice:
                  :$ref: "#/components/schemas/invoice_payload"
              :required:
              - invoice
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  invoice:
                    :$ref: "#/components/schemas/invoice"
                :required:
                - invoice
  invoices/:id:
    get:
      :operationId: invoices_show
      :tags:
      - Invoices
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  invoice:
                    :$ref: "#/components/schemas/invoice"
                :required:
                - invoice
    patch:
      :operationId: invoices_update
      :tags:
      - Invoices
      :requestBody:
        :required: true
        :content:
          :application/json:
            :schema:
              :type: object
              :properties:
                invoice:
                  :$ref: "#/components/schemas/invoice_payload"
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  invoice:
                    :$ref: "#/components/schemas/invoice"
                :required:
                - invoice
    delete:
      :operationId: invoices_destroy
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
:components:
  :schemas:
    invoice:
      :type: object
      :properties:
        created_at:
          :type: string
        id:
          :type: string
        issued_on:
          :type: string
        lines:
          :type: array
          :items:
            :$ref: "#/components/schemas/invoice_line"
        number:
          :type: string
        status:
          :type: string
        updated_at:
          :type: string
      :required:
      - created_at
      - id
      - issued_on
      - lines
      - number
      - status
      - updated_at
    invoice_line:
      :type: object
      :properties:
        created_at:
          :type: string
        description:
          :type: string
        id:
          :type: string
        price:
          :type: number
        quantity:
          :type: number
        updated_at:
          :type: string
      :required:
      - created_at
      - description
      - id
      - price
      - quantity
      - updated_at
    invoice_payload:
      :type: object
      :properties:
        issued_on:
          :type: string
        lines_attributes:
          :type: array
          :items:
            :type: string
        notes:
          :type: string
        number:
          :type: string
      :required:
      - issued_on
      - lines_attributes
      - notes
      - number
    issue:
      :type: object
      :properties:
        code:
          :type: string
        detail:
          :type: string
        field:
          :type: string
        path:
          :type: array
          :items:
            :type: string
      :required:
      - code
      - detail
      - field
      - path
