---
:openapi: 3.1.0
:info:
  :title: "/eager-lion API"
  :version: 1.0.0
:paths:
  invoices/:
    get:
      :operationId: invoices_index
      :summary: List invoices
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
    post:
      :operationId: invoices_create
      :summary: Create invoice
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
  invoices/:id:
    get:
      :operationId: invoices_show
      :summary: Get invoice
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
    patch:
      :operationId: invoices_update
      :summary: Update invoice
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
    delete:
      :operationId: invoices_destroy
      :summary: Delete invoice
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
  invoices/:id/archive:
    patch:
      :operationId: invoices_archive
      :summary: Archive invoice
      :tags:
      - Invoices
      :responses:
        :204:
          :description: No content
:components:
  :schemas:
    cursor_pagination:
      :type: object
      :properties:
        next_cursor:
          :type:
          - string
          - 'null'
        prev_cursor:
          :type:
          - string
          - 'null'
    issue:
      :type: object
      :properties:
        code:
          :type: string
        detail:
          :type: string
        field:
          :type: string
        path:
          :type: array
          :items:
            :type: string
      :required:
      - code
      - detail
      - field
      - path
    page_pagination:
      :type: object
      :properties:
        current:
          :type: integer
        items:
          :type: integer
        next:
          :type:
          - integer
          - 'null'
        prev:
          :type:
          - integer
          - 'null'
        total:
          :type: integer
      :required:
      - current
      - items
      - total
