---
order: 40
prev: false
next: false
---

# ValidationResult

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L5)

## Instance Methods

### #issues()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L6)

Returns the value of attribute issues.

---

### #value()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L6)

Returns the value of attribute value.

---

### #value_set()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L6)

Returns the value of attribute value_set.

---
