---
order: 71
---

# ValidationResult

## Class Methods

### .failure(issue)

---

### .failures(issues)

---

### .skip()

---

### .success(value)

---

## Instance Methods

### #failure?()

**Returns**

`Boolean` — 

---

### #initialize(issues: = [], value: = nil, value_set: = false)

**Returns**

`ValidationResult` — a new instance of ValidationResult

---

### #issues()

Returns the value of attribute issues.

---

### #success?()

**Returns**

`Boolean` — 

---

### #to_h()

---

### #value()

Returns the value of attribute value.

---

### #value_set()

Returns the value of attribute value_set.

---
