---
order: 69
prev: false
next: false
---

# ValidationResult

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L5)

## Class Methods

### .failure(issue)

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L39)

---

### .failures(issues)

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L43)

---

### .skip()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L35)

---

### .success(value)

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L31)

---

## Instance Methods

### #failure?()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L20)

**Returns**

`Boolean` — 

---

### #initialize(issues: = [], value: = nil, value_set: = false)

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L10)

**Returns**

`ValidationResult` — a new instance of ValidationResult

---

### #issues()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L6)

Returns the value of attribute issues.

---

### #success?()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L16)

**Returns**

`Boolean` — 

---

### #to_h()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L24)

---

### #value()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L6)

Returns the value of attribute value.

---

### #value_set()

[GitHub](https://github.com/skiftle/apiwork/blob/main/lib/apiwork/contract/validation_result.rb#L6)

Returns the value of attribute value_set.

---
