---
openapi: 3.1.0
info:
  title: "/gentle_owl API"
  version: 1.0.0
paths:
  comments/:
    get:
      operationId: commentsIndex
      tags:
      - Comments
      parameters:
      - in: query
        name: filter
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/commentFilter"
          - type: array
            items:
              "$ref": "#/components/schemas/commentFilter"
      - in: query
        name: include
        required: false
        schema:
          "$ref": "#/components/schemas/commentInclude"
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/commentPage"
      - in: query
        name: sort
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/commentSort"
          - type: array
            items:
              "$ref": "#/components/schemas/commentSort"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      "$ref": "#/components/schemas/comment"
                  meta:
                    type: object
                    properties: {}
                  pagination:
                    "$ref": "#/components/schemas/pagePagination"
    post:
      operationId: commentsCreate
      tags:
      - Comments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  "$ref": "#/components/schemas/commentCreatePayload"
              required:
              - comment
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    "$ref": "#/components/schemas/comment"
                  meta:
                    type: object
                    properties: {}
                required:
                - comment
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      "$ref": "#/components/schemas/issue"
  comments/:id:
    get:
      operationId: commentsShow
      tags:
      - Comments
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    "$ref": "#/components/schemas/comment"
                  meta:
                    type: object
                    properties: {}
                required:
                - comment
    patch:
      operationId: commentsUpdate
      tags:
      - Comments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  "$ref": "#/components/schemas/commentUpdatePayload"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    "$ref": "#/components/schemas/comment"
                  meta:
                    type: object
                    properties: {}
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  issues:
                    type: array
                    items:
                      "$ref": "#/components/schemas/issue"
    delete:
      operationId: commentsDestroy
      tags:
      - Comments
      responses:
        '204':
          description: No content
components:
  schemas:
    comment:
      type: object
      properties:
        authorName:
          type: string
        body:
          type: string
        commentableId: {}
        commentableType:
          type: string
        createdAt:
          type: string
        id: {}
    commentCreatePayload:
      type: object
      properties:
        authorName:
          type:
          - string
          - 'null'
        body:
          type: string
        commentableId: {}
        commentableType:
          type: string
      required:
      - body
      - commentableId
      - commentableType
    commentFilter:
      type: object
      properties:
        _and:
          type: array
          items:
            "$ref": "#/components/schemas/commentFilter"
        _not:
          "$ref": "#/components/schemas/commentFilter"
        _or:
          type: array
          items:
            "$ref": "#/components/schemas/commentFilter"
        commentableType:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/stringFilter"
    commentInclude:
      type: object
      properties: {}
    commentPage:
      type: object
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
    commentSort:
      type: object
      properties:
        createdAt: {}
    commentUpdatePayload:
      type: object
      properties:
        authorName:
          type:
          - string
          - 'null'
        body:
          type: string
        commentableId: {}
        commentableType:
          type: string
      required:
      - body
      - commentableId
      - commentableType
    issue:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        field:
          type: string
        path:
          type: array
          items:
            type: string
      required:
      - code
      - detail
      - field
      - path
    pagePagination:
      type: object
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      required:
      - current
      - items
      - total
    stringFilter:
      type: object
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          type: array
          items:
            type: string
        startsWith:
          type: string
