---
openapi: 3.1.0
info:
  title: "/lazy_cow API"
  version: 1.0.0
paths:
  status/health:
    get:
      operationId: statusHealth
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                required:
                - status
                - timestamp
                - version
  status/stats:
    get:
      operationId: statusStats
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  postsCount:
                    type: integer
                  uptimeSeconds:
                    type: integer
                  usersCount:
                    type: integer
                required:
                - postsCount
                - uptimeSeconds
                - usersCount
components:
  schemas:
    error:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        layer:
          type: string
          enum:
          - http
          - contract
          - domain
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - layer
      - meta
      - path
      - pointer
