---
:openapi: 3.1.0
:info:
  :title: "/happy-zebra API"
  :version: 1.0.0
:paths:
  users/:
    get:
      :operationId: users_index
      :tags:
      - Users
      :parameters:
      - :in: query
        :name: filter
        :required: false
        :schema:
          :oneOf:
          - :$ref: "#/components/schemas/user_filter"
          - :type: array
            :items:
              :$ref: "#/components/schemas/user_filter"
      - :in: query
        :name: include
        :required: false
        :schema:
          :$ref: "#/components/schemas/user_include"
      - :in: query
        :name: page
        :required: false
        :schema:
          :$ref: "#/components/schemas/user_page"
      - :in: query
        :name: sort
        :required: false
        :schema:
          :oneOf:
          - :$ref: "#/components/schemas/user_sort"
          - :type: array
            :items:
              :$ref: "#/components/schemas/user_sort"
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  meta:
                    :type: object
                    :properties: {}
                  pagination:
                    :$ref: "#/components/schemas/page_pagination"
                  users:
                    :type: array
                    :items:
                      :$ref: "#/components/schemas/user"
    post:
      :operationId: users_create
      :tags:
      - Users
      :parameters:
      - :in: query
        :name: include
        :required: false
        :schema:
          :$ref: "#/components/schemas/user_include"
      :requestBody:
        :required: true
        :content:
          :application/json:
            :schema:
              :type: object
              :properties:
                user:
                  :$ref: "#/components/schemas/user_create_payload"
              :required:
              - user
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  meta:
                    :type: object
                    :properties: {}
                  user:
                    :$ref: "#/components/schemas/user"
                :required:
                - user
        :422:
          :description: Unprocessable Entity
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  issues:
                    :type: array
                    :items:
                      :$ref: "#/components/schemas/issue"
  users/:id:
    get:
      :operationId: users_show
      :tags:
      - Users
      :parameters:
      - :in: query
        :name: include
        :required: false
        :schema:
          :$ref: "#/components/schemas/user_include"
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  meta:
                    :type: object
                    :properties: {}
                  user:
                    :$ref: "#/components/schemas/user"
                :required:
                - user
    patch:
      :operationId: users_update
      :tags:
      - Users
      :parameters:
      - :in: query
        :name: include
        :required: false
        :schema:
          :$ref: "#/components/schemas/user_include"
      :requestBody:
        :required: true
        :content:
          :application/json:
            :schema:
              :type: object
              :properties:
                user:
                  :$ref: "#/components/schemas/user_update_payload"
      :responses:
        :200:
          :description: Successful response
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  meta:
                    :type: object
                    :properties: {}
                  user:
                    :$ref: "#/components/schemas/user"
        :422:
          :description: Unprocessable Entity
          :content:
            :application/json:
              :schema:
                :type: object
                :properties:
                  issues:
                    :type: array
                    :items:
                      :$ref: "#/components/schemas/issue"
    delete:
      :operationId: users_destroy
      :tags:
      - Users
      :responses:
        :204:
          :description: No content
:components:
  :schemas:
    issue:
      :type: object
      :properties:
        code:
          :type: string
        detail:
          :type: string
        field:
          :type: string
        path:
          :type: array
          :items:
            :type: string
      :required:
      - code
      - detail
      - field
      - path
    page_pagination:
      :type: object
      :properties:
        current:
          :type: integer
        items:
          :type: integer
        next:
          :type:
          - integer
          - 'null'
        prev:
          :type:
          - integer
          - 'null'
        total:
          :type: integer
      :required:
      - current
      - items
      - total
    string_filter:
      :type: object
      :properties:
        contains:
          :type: string
        ends_with:
          :type: string
        eq:
          :type: string
        in:
          :type: array
          :items:
            :type: string
        starts_with:
          :type: string
    user:
      :type: object
      :properties:
        created_at:
          :type: string
        email:
          :type: string
        id:
          :type: string
        profile:
          :type: object
          :properties: {}
        updated_at:
          :type: string
        username:
          :type: string
      :required:
      - profile
    user_create_payload:
      :type: object
      :properties:
        email:
          :type: string
        profile:
          :type: object
          :properties: {}
        username:
          :type: string
      :required:
      - email
      - username
    user_filter:
      :type: object
      :properties:
        _and:
          :type: array
          :items:
            :$ref: "#/components/schemas/user_filter"
        _not:
          :$ref: "#/components/schemas/user_filter"
        _or:
          :type: array
          :items:
            :$ref: "#/components/schemas/user_filter"
        email:
          :oneOf:
          - :type: string
          - :$ref: "#/components/schemas/string_filter"
        username:
          :oneOf:
          - :type: string
          - :$ref: "#/components/schemas/string_filter"
    user_include:
      :type: object
      :properties: {}
    user_page:
      :type: object
      :properties:
        number:
          :type: integer
          :minimum: 1
        size:
          :type: integer
          :minimum: 1
          :maximum: 100
    user_sort:
      :type: object
      :properties:
        created_at: {}
        updated_at: {}
    user_update_payload:
      :type: object
      :properties:
        email:
          :type: string
        profile:
          :type: object
          :properties: {}
        username:
          :type: string
      :required:
      - email
      - username
