title: Single Table Inheritance (STI)
description: Single Table Inheritance with automatic variant serialization and TypeScript union types
order: 5

sections:
  - title: API Definition
    files:
      - config/apis/mighty_wolf.rb
  - title: Models
    files:
      - app/models/mighty_wolf/vehicle.rb
      - app/models/mighty_wolf/car.rb
      - app/models/mighty_wolf/truck.rb
      - app/models/mighty_wolf/motorcycle.rb
  - title: Representations
    files:
      - app/representations/mighty_wolf/vehicle_representation.rb
      - app/representations/mighty_wolf/car_representation.rb
      - app/representations/mighty_wolf/truck_representation.rb
      - app/representations/mighty_wolf/motorcycle_representation.rb
  - title: Contracts
    files:
      - app/contracts/mighty_wolf/vehicle_contract.rb
      - app/contracts/mighty_wolf/car_contract.rb
      - app/contracts/mighty_wolf/truck_contract.rb
      - app/contracts/mighty_wolf/motorcycle_contract.rb
  - title: Controllers
    files:
      - app/controllers/mighty_wolf/vehicles_controller.rb

scenarios:
  - title: List all vehicles
    description: Returns all vehicle types
    order: 1
    method: GET
    path: /mighty_wolf/vehicles
    setup:
      - create: vehicle
        fields:
          type: MightyWolf::Car
          brand: Volvo
          model: EX30
      - create: vehicle
        fields:
          type: MightyWolf::Motorcycle
          brand: Harley-Davidson
          model: Street Glide
      - create: vehicle
        fields:
          type: MightyWolf::Truck
          brand: Ford
          model: F-150

  - title: Get vehicle details
    description: Fetch vehicle with type-specific fields
    order: 2
    method: GET
    path: /mighty_wolf/vehicles/:id
    setup:
      - create: vehicle
        fields:
          type: MightyWolf::Car
          brand: Volvo
          model: EX30
          year: 2024
          color: red

  - title: Create a car
    description: Create car variant
    order: 3
    method: POST
    path: /mighty_wolf/vehicles
    body:
      vehicle:
        type: car
        brand: Volvo
        model: EX30
        year: 2024
        color: red

  - title: Create a motorcycle
    description: Create motorcycle variant
    order: 4
    method: POST
    path: /mighty_wolf/vehicles
    body:
      vehicle:
        type: motorcycle
        brand: Harley-Davidson
        model: Street Glide
        year: 2023
        color: black

  - title: Create a truck
    description: Create truck variant
    order: 5
    method: POST
    path: /mighty_wolf/vehicles
    body:
      vehicle:
        type: truck
        brand: Ford
        model: F-150
        year: 2024
        color: blue
