---
openapi: 3.1.0
info:
  title: "/clever_rabbit"
  version: 1.0.0
paths:
  "/orders":
    get:
      operationId: orders_index
      parameters:
      - in: query
        name: filter
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/order_filter"
          - items:
              "$ref": "#/components/schemas/order_filter"
            type: array
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/order_page"
      - in: query
        name: sort
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/order_sort"
          - items:
              "$ref": "#/components/schemas/order_sort"
            type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/order_index_success_response_body"
          description: Successful response
    post:
      operationId: orders_create
      requestBody:
        content:
          application/json:
            schema:
              properties:
                order:
                  "$ref": "#/components/schemas/order_create_payload"
              type: object
              required:
              - order
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/order_create_success_response_body"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response_body"
  "/orders/{id}":
    get:
      operationId: orders_show
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/order_show_success_response_body"
          description: Successful response
    patch:
      operationId: orders_update
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                order:
                  "$ref": "#/components/schemas/order_update_payload"
              type: object
              required:
              - order
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/order_update_success_response_body"
          description: Successful response
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/error_response_body"
    delete:
      operationId: orders_destroy
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    error_response_body:
      properties:
        issues:
          items:
            "$ref": "#/components/schemas/issue"
          type: array
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      type: object
      required:
      - issues
      - layer
    issue:
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          properties: {}
          type: object
        path:
          items:
            type: string
          type: array
        pointer:
          type: string
      type: object
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    nullable_string_filter:
      properties:
        contains:
          type: string
        ends_with:
          type: string
        eq:
          type: string
        in:
          items:
            type: string
          type: array
        'null':
          type: boolean
        starts_with:
          type: string
      type: object
    offset_pagination:
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      type: object
      required:
      - current
      - items
      - total
    order:
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
        line_items:
          items: {}
          type: array
        order_number:
          type: string
        shipping_address:
          properties: {}
          type: object
        status:
          type:
          - string
          - 'null'
        total:
          type:
          - number
          - 'null'
        updated_at:
          type: string
          format: date-time
      type: object
      required:
      - created_at
      - id
      - line_items
      - order_number
      - shipping_address
      - status
      - total
      - updated_at
    order_create_payload:
      properties:
        line_items:
          items: {}
          type: array
        order_number:
          type: string
        shipping_address:
          properties: {}
          type: object
      type: object
      required:
      - order_number
    order_create_success_response_body:
      properties:
        meta:
          properties: {}
          type: object
        order:
          "$ref": "#/components/schemas/order"
      type: object
      required:
      - order
    order_filter:
      properties:
        _and:
          items:
            "$ref": "#/components/schemas/order_filter"
          type: array
        _not:
          "$ref": "#/components/schemas/order_filter"
        _or:
          items:
            "$ref": "#/components/schemas/order_filter"
          type: array
        status:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/nullable_string_filter"
      type: object
    order_index_success_response_body:
      properties:
        meta:
          properties: {}
          type: object
        orders:
          items:
            "$ref": "#/components/schemas/order"
          type: array
        pagination:
          "$ref": "#/components/schemas/offset_pagination"
      type: object
      required:
      - orders
      - pagination
    order_page:
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
      type: object
    order_show_success_response_body:
      properties:
        meta:
          properties: {}
          type: object
        order:
          "$ref": "#/components/schemas/order"
      type: object
      required:
      - order
    order_sort:
      properties:
        created_at:
          enum:
          - asc
          - desc
          type: string
        status:
          enum:
          - asc
          - desc
          type: string
      type: object
    order_update_payload:
      properties:
        line_items:
          items: {}
          type: array
        order_number:
          type: string
        shipping_address:
          properties: {}
          type: object
      type: object
    order_update_success_response_body:
      properties:
        meta:
          properties: {}
          type: object
        order:
          "$ref": "#/components/schemas/order"
      type: object
      required:
      - order
