---
openapi: 3.1.0
info:
  title: "/clever_rabbit API"
  version: 1.0.0
paths:
  orders/:
    get:
      operationId: ordersIndex
      parameters:
      - in: query
        name: filter
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/orderFilter"
          - type: array
            items:
              "$ref": "#/components/schemas/orderFilter"
      - in: query
        name: page
        required: false
        schema:
          "$ref": "#/components/schemas/orderPage"
      - in: query
        name: sort
        required: false
        schema:
          oneOf:
          - "$ref": "#/components/schemas/orderSort"
          - type: array
            items:
              "$ref": "#/components/schemas/orderSort"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/orderIndexSuccessResponseBody"
    post:
      operationId: ordersCreate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                order:
                  "$ref": "#/components/schemas/orderCreatePayload"
              type: object
              required:
              - order
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/orderCreateSuccessResponseBody"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
  orders/{id}:
    get:
      operationId: ordersShow
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/orderShowSuccessResponseBody"
    patch:
      operationId: ordersUpdate
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                order:
                  "$ref": "#/components/schemas/orderUpdatePayload"
              type: object
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/orderUpdateSuccessResponseBody"
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/errorResponseBody"
    delete:
      operationId: ordersDestroy
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content
components:
  schemas:
    errorResponseBody:
      type: object
      properties:
        issues:
          type: array
          items:
            "$ref": "#/components/schemas/issue"
        layer:
          enum:
          - http
          - contract
          - domain
          type: string
      required:
      - issues
      - layer
    issue:
      type: object
      properties:
        code:
          type: string
        detail:
          type: string
        meta:
          type: object
          properties: {}
        path:
          type: array
          items:
            type: string
        pointer:
          type: string
      required:
      - code
      - detail
      - meta
      - path
      - pointer
    nullableStringFilter:
      type: object
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          type: array
          items:
            type: string
        'null':
          type: boolean
        startsWith:
          type: string
    offsetPagination:
      type: object
      properties:
        current:
          type: integer
        items:
          type: integer
        next:
          type:
          - integer
          - 'null'
        prev:
          type:
          - integer
          - 'null'
        total:
          type: integer
      required:
      - current
      - items
      - total
    order:
      type: object
      properties:
        createdAt:
          type: string
          format: date-time
        id:
          type: string
        lineItems:
          items:
            type: string
          type: array
        orderNumber:
          type: string
        shippingAddress:
          type: object
          properties: {}
        status:
          type:
          - string
          - 'null'
        total:
          type:
          - number
          - 'null'
        updatedAt:
          type: string
          format: date-time
      required:
      - createdAt
      - id
      - lineItems
      - orderNumber
      - shippingAddress
      - status
      - total
      - updatedAt
    orderCreatePayload:
      type: object
      properties:
        lineItems:
          items:
            type: string
          type: array
        orderNumber:
          type: string
        shippingAddress:
          type: object
          properties: {}
      required:
      - orderNumber
    orderCreateSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        order:
          "$ref": "#/components/schemas/order"
      required:
      - order
    orderFilter:
      type: object
      properties:
        _and:
          type: array
          items:
            "$ref": "#/components/schemas/orderFilter"
        _not:
          "$ref": "#/components/schemas/orderFilter"
        _or:
          type: array
          items:
            "$ref": "#/components/schemas/orderFilter"
        status:
          oneOf:
          - type: string
          - "$ref": "#/components/schemas/nullableStringFilter"
    orderIndexSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        orders:
          type: array
          items:
            "$ref": "#/components/schemas/order"
        pagination:
          "$ref": "#/components/schemas/offsetPagination"
      required:
      - orders
      - pagination
    orderPage:
      type: object
      properties:
        number:
          type: integer
          minimum: 1
        size:
          type: integer
          minimum: 1
          maximum: 100
    orderShowSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        order:
          "$ref": "#/components/schemas/order"
      required:
      - order
    orderSort:
      type: object
      properties:
        createdAt:
          enum:
          - asc
          - desc
          type: string
        status:
          enum:
          - asc
          - desc
          type: string
    orderUpdatePayload:
      type: object
      properties:
        lineItems:
          items:
            type: string
          type: array
        orderNumber:
          type: string
        shippingAddress:
          type: object
          properties: {}
      required:
      - orderNumber
    orderUpdateSuccessResponseBody:
      type: object
      properties:
        meta:
          type: object
          properties: {}
        order:
          "$ref": "#/components/schemas/order"
      required:
      - order
    stringFilter:
      type: object
      properties:
        contains:
          type: string
        endsWith:
          type: string
        eq:
          type: string
        in:
          type: array
          items:
            type: string
        startsWith:
          type: string
